@font-face{
    font-family: 'montserrat';
    src: url('../Polices/montserrat') format('truetype');
}
@font-face{
    font-family: 'raleway';
    src: url('../Polices/raleway') format('truetype');
}
@font-face{
    font-family: 'drip';
    src: url('../Polices/DoubleFeature20.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'montserrat';
}  
body{
    margin: 0%;
    position: relative;
    display: flex;
    flex-direction: column;
}
header{
    height: 70px;
    width: 100%;
    background: rgb(238, 234, 234);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.342);
    color: rgb(15, 61, 54);
    text-transform: uppercase;
}
h1{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 5px 20px;
    font-weight: 900;
    font-style: oblique;
    font-size: 2.5em;
    letter-spacing: 1px;
    color:rgb(15, 61, 54);
}

h2{
    color:rgb(15, 61, 54);
    font-size: 1.4em;
}
h3{
    margin-top: 0%;
    color:rgb(15, 61, 54);
}
hr{
    margin: 0px;
}
nav{
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;
}
nav .nav-link, nav .nav-link:visited{
    color: rgb(15, 61, 54);
    font-weight: 800;
    font-family: 'raleway';
    font-style: oblique;
}
nav .nav-link{
    padding: 0px 5px 0px 5px;
    font-size: 1.2em;
}
.nav-link, .nav-link:visited{ 
    text-decoration: none;
    padding: 6px 0px;
    color: black;
}

ul{
    list-style-type: none;
    display: flex;
    padding: 0%;
    margin-left: -3px;
}

.homebanner{
    height: 100vh;
    background-image: url(../images/diogo-brandao-aSh-6viqB28-unsplash.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}
.sliderNewarrivals{
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.sliderNewarrivals h1{
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px black;
}
.welcometext{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    
}
.welcometext p{
    font-family: 'drip';
    font-size: 3em;
    color: rgb(15, 61, 54);
    font-weight:900;
    margin: 0%;
    text-shadow: 4px 4px black;
    letter-spacing: 6px;
    padding: 5px;
    width: 100%;
    left: 54%;
    text-align: center;
}

                                        /* Slider New Arrivals */
.slider{
    width: 100%;
    height: 80%;
    margin: 0%;
    padding: 0%;
    overflow-y: scroll;
    display: flex;
    scroll-snap-type: x mandatory; 
    align-items: center;
    position: absolute;
}
.slider::-webkit-scrollbar {
    width:  7px;
    height: 6px;
  }
.slider::-webkit-scrollbar-thumb {
    background: #343434;
    border-radius: 10px;
  }
.slider::-webkit-scrollbar-track {
    background: transparent;
  }

  .slider > div {
    scroll-snap-align:start;
    flex-shrink: 0;
    width: 200px;
    height: 95%;
    margin: 0px 10px;
    border-radius: 3px;
    transform-origin: left;
    transform: scale(1);
    transition: transform 0.5s;
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 450px;
    margin-left: 1rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.342);
    
    
  }

  .product_description{
      background-color: rgb(255, 255, 255);
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: space-between;
  }
  .product_description h2, .product_description p{
      margin: 0%;
      text-align: center;
      padding-left: 5px;
      font-family: 'raleway';
  }
.price{
    transform: translateY(20%);
    padding-right: 5px;
    font-weight: 800;
    font-size: 1.1em;
    color:rgb(15, 61, 54);
}
.slidefirst{
    background-image: url(../images/jean_vest.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slidesecond{
    background-image: url(../images/sweatshirt.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slidethird{
    background-image: url(../images/sneakers.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slidefourth{
    background-image: url(../images/bomber_jacket.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

                                                    /* NewCollections section */

  .newcollections{
    display: flex;
    flex-direction:column;
    height: 80vh;
    width: 100%;
    position: relative;
    margin-bottom: 80px;
  }
  .newcollections h1{
      position: absolute;
      top: -9%;
      left: 50%;
      transform: translateX(-50%);
      text-shadow: 2px 2px black;
  }
  .collections > div{
      width: 50%;
      height: 100%;
      text-align: center;
      position: relative;
  }
  .collections{
      display: flex;
      width: 100%;
      height: 100%;
      
  }
  .collections .man{
    background-image: url(../images/photo_man_collection.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .woman{
    background-image: url(../images/photo_woman_collection.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .man_text{
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;
  }
  .man_text p{
      color: rgb(15, 61, 54);
      font-weight: bold;
      background-color: white;
      padding: 5px;
      border-radius: 3px;
  }

button{
    font-family: 'raleway';
    padding: 3px;
    border-radius: 3px;
    box-shadow: black  0.5px 0.7px 0.5px;
    outline: none;
    border: 0.5px black solid;
    font-weight: 600;
    cursor: pointer;
    height: 40px;
    width: 98%;
    border-style: none;
    background-color:rgb(15, 61, 54);
    color: white;
    font-size: 1em;
}
button:focus, button:hover{
    background-color: rgb(29, 126, 77);
    transition: all .35s ease-Out;
}

                                                    /* Footer */

  .footer_container{
      width: 100%;
      height: auto;
      display: flex;
      justify-items: center;
      justify-content: center;
      background-color: rgb(238, 234, 234);
      flex-wrap: wrap;
  }
  .footer_container > div{
      display: flex;
      flex-direction: column;
      margin: 20px 70px;
  }
  form{
      display: flex;
  }
.infos{
    display: flex;
    flex-direction: column;
    margin:0px;
}
.infos input{
    border-radius: 3px;
    border: 1px solid black;
    outline: none;
    padding: 7px;
    margin: 3px;
}
.infos input:focus {
    background: blanchedalmond;
    outline: none;
}
.infos input:hover{
    background-color: blanchedalmond
}
input[type="submit"]{
    background: linear-gradient(45deg,rgb(0, 0, 0),rgb(73, 73, 73));
    outline:none;
    border: 1px solid black;
    border-radius: 3px;
    margin: 3px;
    width: 70px;
    font-family: 'raleway';
    font-weight: bold;
    color: white;
}
li{
    height: 30px;
    width: 30px;
}

                                                                /* Register Page */

.container_inscription{
    background-image: url(../images/tokyo_street.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.inscription{
    height: 80vh;
    width: 100%;
    position: relative;
    background-color: rgb(0 0 0 / 59%);
}
.inscription form, .login form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 5%;
    align-content: space-around;
    justify-content: space-around;
    position: relative;
}
form h2{
    text-align: center;
    position: relative;
    top: 20%;
    font-size: 2.9em;;
    color: white;
}
.external_login {
    width: 98%;
    height: 40px;
    position: relative;
    top: 0%;
}

.fb_login, .google_login{
    width: 49%;
    font-size: 0.9em;
    position: absolute;
}
.google_login{
    right: 0%;
}

.inscription form input[type="text"],.login form input[type="text"], [type="tel"], [type="saisielong"]
{
    height: 50px;
    width: 100%;
    position: relative;
    border: 1px solid rgb(77, 76, 74);
    box-sizing: border-box;
}

label
{
    color: rgb(77, 76, 74);
    font-size: 1em;
    position: absolute;
    top: 30%;
    left: 15px;
}
input:focus ~ label, textarea:focus ~ label
{
    top: -10px;
    background-color: white;
    font-size: 12px;
    padding: 1px;
}
input:focus
{
    outline: none;
    border: 2px solid rgb(31, 168, 73);
}
input[type="checkbox"]{
    height: 20px;
    width: 6%;
    margin-top: -13px;
    margin-left: 5px;
}
.checkbox{
    width: 100%;
    display: flex;
    position: relative;
    font-family: 'raleway';
    font-size: 1.1em;
    margin:20px 0px 15px -15px;
}
.checkbox p{
    margin: 0px;
    margin-top: -13px;
    width: 100%;
    color: white;
    font-weight: 600;
}
.saisie
{
    width: 48%;
    font-family:'raleway';
    position: relative;
    box-sizing: border-box;
    margin: 10 0 0 0;
}
.saisielong
{
    width: 100%;
    font-family: 'raleway';
    position: relative;
    box-sizing: border-box;
    margin: 10 5 0 5;
    margin-right: 5px;
    margin-left: 5px;
}
form div
{
    margin-top: 10px;
}
.white_link{
    color: white;
    text-decoration: underline;
    padding: 5px;
}
                                                                /* Login Page */
.container_login{
    background-image: url(../images/tokyo_street2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login{
    height: 80vh;
    width: 100%;
    position: relative;
    background-color: rgb(0 0 0 / 59%);
}

.rdv_button{
    margin-top: 10px;
}
                                                                /* Profil Page */
                                                            
.container_profile{
    width: 100%;
    height: 80vh;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url(../images/subway.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.profile{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(0 0 0 / 59%);
}
.account_categories{
    width: 20%;
    height: 400px;
}
.account_categories h4{
    margin: 0px;
}
.account_categories, .account_categories ul{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
}
.account_categories ul li{
    padding: 26px 0px 26px 0px;
    width: 100%;    
}
aside{
    width: 60%;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.account_overview{
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}
.account_overview button{
    bottom: 0px;
    position: absolute;
    width: 98%;
    left: 50%;
    transform: translateX(-50%);
}
aside h3{
    text-align: center;
    color: white;
}
.aside_msg{
    font-size: 1.5em;
}
.wishlist_overview, .orders_overview{
    height: 100%;
    width: 50%;
    position: relative;
}
.wishlist_overview{
    border-right: 1px black solid;
}
.orders_overview{
    border-left: 1px black solid;
}
                                                            /* Product Page 1 */
.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.row.two{
    margin: 150px 0px 0px 0px;
}
.col-2{
    width: 50%;
    position: absolute;
    right: 0%;
    padding: 0px 80px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
    justify-content: left;
}
.col-2 p{
    text-align: justify;
    font-family: 'raleway';
    line-height: 25px;
}
.col-2 h3{
    margin-top: 25px;
}
strong{
    color: rgb(15, 61, 54);;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px; 
    min-width: 200px;
    margin-bottom: 50px;
    transition:transform 0.5s;
}
.col-4 img{
    width: 100%;
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #198351;
}
.col-4:hover{
    transform: translateY(-5px);
}
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px;
}
small{
    color: #555;
}
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    color: #198351;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 5px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #093314;
}
input:focus{
    outline: none;
}
.small_img_container{
    display: flex;
    height: 100px;
    width: 50%;
}
.small_img_container > div{
    width: 33.33%;
    height: 100%;
    cursor: zoom-in;
    padding: 20px 3px 0px 0px;
}
.small-img-row{
    width: 30%;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.small_img1, .small_img2, .small_img3,.main_img_container{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main_img_container{
    background-image: url(../images/jean_vest.webp);
    width: 50%;
    height: 100%;
    cursor: zoom-in;
}
.small_img1{
    background-image: url(../images/jean_vest1.webp);
}
.small_img2{
    background-image: url(../images/jean_vest2.webp);
}
.small_img3{
    background-image: url(../images/jean_vest3.webp);
}
.col-1{
    height: 80vh;
    width: 100%;
}
                                                                    /* Cart Page */                                                     
table{
    width: 100%;
    border-collapse: collapse;
    padding: 50px;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: rgb(15, 61, 54);
    font-weight: normal;
}
.imagePanier_1,.imagePanier_2,.imagePanier_3{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.imagePanier_1{
    background-image: url(../images/sweatshirt.webp);
}
.imagePanier_2{
    background-image: url(../images/sneakers.webp);
}
.imagePanier_3{
    background-image: url(../images/bomber_jacket.webp);
}
.product-info p , .product-info a{
    margin: 0%;
    padding: 0%;
}
.product-info a{
    font-size: 12px;
    font-style: oblique;
    text-decoration: underline;
}
td{
    padding: 10px 0px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
.total-price{
    display: flex;
    flex-direction: column;
    right: 0%;
    position: absolute;
    width: 50%;
    align-items:flex-end;
}
.total-price table{
    border-top: 3px solid #0c5e3b;
    width: 100%;
    max-width: 450px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.btn-cart{
    background: rgb(15, 61, 54);
    color: rgb(124, 54, 54);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    float: right;   
}
.cart_button{
    display: flex;
    padding: 5px 5px 5px 0px;
    width: 54%;
    align-items: center;
    justify-content: center;
}
                                                            /* Product Page 2 */
.main_img_container_p2{
    width: 50%;
    height: 100%;
    background-image: url(../images/sweatshirt.webp);
    cursor: zoom-in;
}
.small_img2_p2, .small_img1_p2,.small_img3_p2,.main_img_container_p2{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}  
.small_img1_p2{
    background-image: url(../images/sweatshirt1.webp);
}
.small_img2_p2{
    background-image: url(../images/sweatshirt2.webp);
}
.small_img3_p2{
    background-image: url(../images/sweatshirt3.webp);
}
                                                            /* Product Page 3 */                                         
.main_img_container_p3{
    width: 50%;
    height: 100%;
    background-image: url(../images/sneakers.webp);
    cursor: zoom-in;
}
.small_img2_p3, .small_img1_p3,.small_img3_p3,.main_img_container_p3{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}  
.small_img1_p3{
    background-image: url(../images/sneakers1.webp);
}
.small_img2_p3{
    background-image: url(../images/sneakers2.webp);
}
.small_img3_p3{
    background-image: url(../images/sneakers3.webp);
}
                                                           /* Product Page 4 */
                                                            
.main_img_container_p4{
    width: 50%;
    height: 100%;
    background-image: url(../images/bomber_jacket.webp);
    cursor: zoom-in;
}
.small_img2_p4, .small_img1_p4,.small_img3_p4,.main_img_container_p4{

background-repeat: no-repeat;
background-position: center;
background-size: cover;
}  
.small_img1_p4{
    background-image: url(../images/bomber_jacket1.webp);
}
.small_img2_p4{
    background-image: url(../images/bomber_jacket2.webp);
}
.small_img3_p4{
    background-image: url(../images/bomber_jacket3.webp);
}

                                                        /* Suggestion tab */

.suggestion_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.row.two{
    margin: 150px 0px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.row.two h1{
    margin: 0%;
}
.suggestion_img1,.suggestion_img2,.suggestion_img3,.suggestion_img4{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.suggestion_img1{
    background-image: url(../images/bomber_jacket3.webp);
}
.suggestion_img2{
    background-image: url(../images/jean_vest2.webp);
}
.suggestion_img3{
    background-image: url(../images/sneakers3.webp);
}
.suggestion_img4{
    background-image: url(../images/sweatshirt3.webp);
}
